* { margin: 0; padding: 0;}
li { list-style: none;}
a { text-decoration: none; display: block; color:#333}
body { font-size:16px !important;} 

/* header */
.header_wrap { width: 100%; border-bottom: 1px solid #d1d1d1 ;}
.main_header { display: flex; justify-content: space-between; width: 1000px; height: 130px; margin: 0 auto; position: relative;}

.logo { display: flex; align-items: center; z-index: 10;}

/* gnb */
.gnb { position: absolute; top: 0; right: 0;}
/* .gnb ul { display: flex;}
.gnb ul li a:after { content: "|"; padding-left:4px; font-size: 0.6em;
    display: flex; align-items: center; float: right;}
.gnb ul li:last-child a:after { content: "";}
.gnb ul li a { padding: 2px 3px; font-size: 0.8em; transition: all 0.3s; }
.gnb ul li a:hover { color:#a8353a; transform: translateY(-4px);}  */

/* lnb */
.lnb { display: flex; align-items: center; margin-top: 15px; z-index: 10;}
.lnb > ul { display: flex; justify-content: space-between; }
.lnb > ul > li { margin: 10px 15px 0;}
.lnb > ul > li > a { padding: 4px 10px; font:700 1.1em "Nanum Gothic", sans-serif; color:#444}
.lnb > ul > li > a:hover { color:#a8353a}

/* SUBMENU */
.submenu { display: none; position: absolute; margin-top: 15px; height: 250px; z-index: 100;}
.submenu > li { height: 30px; font:700 0.9rem "Nanum Gothic";}
ul.submenu > li > a { color:#999; padding: 5px 10px;}
ul.submenu > li > a:hover { color:#a8353a;}

.top { height: 100px; width: 100%; position: absolute; top: 40px; background:#fff; z-index: 1; border-bottom: 1px solid #d1d1d1;}
.menu_bg { width: 1000px; margin: 0 auto; height: 350px; background: url(../images/gnb_bg.png) no-repeat left center; display: none;}

/* 메인슬라이드 */
.main_slide { width: 1440px; height: 471px; margin: 0 auto; position: relative;}

/* 롤링텍스트 */
.box_text { overflow: hidden; position: absolute; bottom: -35px; left: 50%;margin-left: -490px; width: 1000px; padding: 23px 42px; box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.25); font-size: 24px; line-height: 1.4;
    box-sizing: border-box; font-size: 24px; border-radius: 5px; background-color: #fff; z-index: 100;}
       
.rolling_text{width: 2200px; white-space: nowrap; animation: slide-left 22s linear infinite; color: #929292;}
   @keyframes slide-left {
       from {
                     transform: translateX(20%);
           }
       to {
                     transform: translateX(-105%);
           }
   }

   /* section1 */
   .section_wrap { width: 100% ; background: #f2f2f2; padding: 40px 0 0;}
   .section1 { width: 1000px; margin: 0 auto;}
   h1.title1 { font:700 2.4em "Nanum Gothic"; margin: 40px 0 10px; text-align: center;}
   p.s_text { font:500 1.4em "Nanum Gothic";  text-align: center;}

.box_wrap { width: 1000px; margin: 30px auto; display: flex; justify-content: space-between;}
.box { border: 1px solid #d1d1d1; padding: 20px; width: 320px; height: 310px; box-sizing: border-box; border-radius: 5px;}
.box h3 { font-family: "Nanum Gothic";}
.box h1 { font:700 2em "Nanum Gothic"; margin: 10px 0 20px;}
.box h4 { color: #666;}

.box1 { background: url(../images/box_01.png) 97% 97% no-repeat #fff;}
.box2 { background: url(../images/box_02.png) 97% 97% no-repeat #fff;}
.box3 { background: url(../images/box_03.png) 97% 97% no-repeat #fff;}

/* section2 */
.section2_wrap { background:#fff; width: 100%; padding: 40px 0;}
.section2 .box { text-align: center; display: flex; flex-direction: column; justify-content:space-between;}
.section2 .box h2 { font: 700 1.7em "Nanum Gothic"; }
.section2 .box h3 { font: 700 1.1em "Nanum Gothic"; color:#555; line-height: 1.3;}
.box4 { background: url(../images/box_04.png) center 40% / 20% no-repeat}
.box5 { background: url(../images/box_06.png) center 40% / 55% no-repeat}
.box6 { background: url(../images/box_05.png) center 40% / 35% no-repeat}

/* section4 */
.section4_wrap { width: 100%; height: 400px; background: url(../images/section3_bg.png) center / cover no-repeat; display: flex; align-items: center; }
.s4_article { width:1000px; display: flex; justify-content: space-between; flex-wrap: wrap; margin: 30px auto 40px;}
.section4_wrap .box { border: 0;}
.section4_wrap .box7 { background: url(../images/box_07.png) center / 43% no-repeat;}
.section4_wrap .box8 { background: url(../images/box_08.png) center/ 43% no-repeat;}
.section4_wrap .box9 { background: url(../images/box_09.png) center/ 43% no-repeat;}

.section4_wrap .box { position: relative; display: flex; flex-direction: column; align-items: center; justify-content: space-between;}
.section4_wrap .box h3 { font-size: 1.5em; color:#fff }
.section4_wrap .box p {  font-size: 1.5em;  color:#fff;}

/* section5 */
.section5_wrap { width: 100%; background: #fff; padding: 40px 0;}
.section5 { margin: 0 auto; width: 1000px;}
ul.thumb { display: flex; flex-wrap: wrap; margin-top: 30px;}
ul.thumb li {border: 1px solid #d1d1d1; border-right: 0;}
ul.thumb li:nth-child(4n) { border-right: 1px solid #d1d1d1;}
ul.thumb li:nth-child(4) ~ li { border-top: 0;}
ul.thumb li a { background: url(../images/sprite.png) no-repeat; width: 244px; height: 75px; text-indent: -9999px; transition: all 0.3s;}

ul.thumb li:nth-child(1) a { background-position:0 0;}
ul.thumb li:nth-child(2) a { background-position:0 -75px;}
ul.thumb li:nth-child(3) a { background-position:0 -150px;}
ul.thumb li:nth-child(4) a { background-position:0 -225px;}
ul.thumb li:nth-child(5) a { background-position:0 -300px;}
ul.thumb li:nth-child(6) a { background-position:0 -375px;}
ul.thumb li:nth-child(7) a { background-position:0 -450px;}
ul.thumb li:nth-child(8) a { background-position:0 -525px;}

/* hover */
ul.thumb li:nth-child(1) a:hover { background-position:-244px 0;}
ul.thumb li:nth-child(2) a:hover { background-position:-244px -75px;}
ul.thumb li:nth-child(3) a:hover { background-position:-244px -150px;}
ul.thumb li:nth-child(4) a:hover { background-position:-244px -225px;}
ul.thumb li:nth-child(5) a:hover { background-position:-244px -300px;}
ul.thumb li:nth-child(6) a:hover { background-position:-244px -375px;}
ul.thumb li:nth-child(7) a:hover { background-position:-244px -450px;}
ul.thumb li:nth-child(8) a:hover { background-position:-244px -525px;}

/* footer */
.footer_wrap { width: 100%; background: #fff; border-top: 1px solid #d1d1d1;}
.main_footer { width: 1000px; margin: 0 auto; padding: 40px 0; display: flex; justify-content:space-between;}
.b_logo { font:500 1.8em "Nanum Pen Script"; color:#555}

ul.b_lnb { display: flex; justify-content: space-around; margin-bottom: 15px;}
ul.b_lnb li { display: flex;}
ul.b_lnb li:after { content: "|";  padding-left:7.5px ; font-size: 0.7em; color:#999;}
ul.b_lnb li:last-child:after { content: "";}
ul.b_lnb li a { font: 600 0.9em "Nanum Gothic"; color:#999;}
ul.b_lnb li a:hover { color:#a8353a}

ul.add { font: 500 0.9em "Nanum Gothic"; color:#999; line-height: 1.4; padding-left: 7.5px;}



/* family_site */
.family_site { position: relative; cursor: pointer;}
.family { position: absolute; top: -98px; display: none; border: 1px solid #ebebeb; background: #ebebeb; width: 120px; padding: 5px; box-sizing: border-box;}
.family li a { font: 500 0.75em "Nanum Gothic"; color:#999; line-height: 1.8;}
.family li a:hover { color:#a8353a}

/* 스크롤탑 */
a.return-top { position: fixed; right: 15px; bottom: 15px; z-index: 9999; color:#000; opacity: 0.4; transition: all 0.3s;}
a.return-top:hover { color:#a8353a; opacity: 1;}

@media screen and (min-width:960px){/* 스크린 */
#ham,.mobile_lnb {display: none;}
}

@media screen and (min-width:768px) and (max-width:959px){/* 탭 */
.lnb { display: none;}
}


@media screen and (max-width:767px) {/* 모바일 */
.lnb, .box_text , .flex-control-nav, .section5_wrap,.left_nav{ display: none !important;}
.main_header, .main_slide,.section1,.box_wrap,.s4_article,.section5,.main_footer,.sub_section,.sub_article { width: 100% !important;}
.logo img { width: 85%;}
.main_slide { height: auto;}
.flexslider { margin: 0 !important;}
.box_wrap { flex-wrap: wrap; justify-content: space-around;}
.box { width: 95% ; margin-bottom: 10px;}
.title1 { font-size:1.8em !important ;}
.s_text { font-size: 1.2em !important ;}


.s4_article { flex-wrap: nowrap;}
.s4_article .box h3 { font-size: 1.2em; }
.s4_article .box p { font-size: 1.1em; }

/* footer */
.main_footer {width: 95%; justify-content: space-between; flex-wrap: wrap !important; position: relative;}

.b_nav { margin-top: 15px;}
ul.b_lnb li a {font: 600 0.7em "Nanum Gothic"; }
ul.add { font: 500 0.7em "Nanum Gothic"; padding-left: 0;}
.family_site { position: absolute; top: 40px; right: 0;}

/* 모바일메뉴 */
#ham{position:fixed;top:40px; right:10px; z-index:999; border:1px solid #d1d1d1; border-radius:4px; transition:all 0.3s;box-shadow:2px 2px 2px rgba(0,0,0,0.4); }
#ham a { color:#999; transition:all 0.3s}
#ham a:hover { color:#333}
#ham:hover { border-color:#333}

.mobile_lnb{ display:none; position: fixed;right:0;top:0; width:100%; height:100%;background:rgba(0,0,0,0.7); z-index:9999;  box-shadow:0px 3px 3px #999;}
.mobile_lnb { padding:0; box-sizing:border-box}
.mobile_lnb > ul.navi {  width:100%; text-indent:10px; padding:65px 0px 30px; background:#fff;border-bottom:1px solid #d1d1d1;}
.mobile_lnb > ul > li { border-bottom:1px solid #d1d1d1;}
.mobile_lnb > ul > li > a { display:block; color:#666; font-weight:400; font-size:12px;transform:translate(0,0); transition:all 0.3s}
.mobile_lnb > ul > li > a:hover { color:#F60; transform:translate(5px,0);}

.mobile_lnb > .img1{ position: absolute;left:5px;top:5px; cursor: pointer;width:40%;}
.mobile_lnb > .img2{ position: absolute;right:5px;top:10px; cursor: pointer; /* width:7% */; border:1px solid #666; padding:1px; border-radius:2px; color:#666}

/* 아코디언메뉴(서브메뉴) */
li.group { margin-bottom:0px;background:#fff;}
div.title { height:35px; line-height:35px; cursor:pointer; font-weight:600; padding:3px 0}
div.title a {color:#333;}
ul.submenu1 li { height:30px; margin-bottom:0px; line-height:30px; background:#f4f4f4; cursor:pointer;}
ul.submenu1 li a { display:block; width:100%; height:100%; color:#333; text-decoration:none; font-size:13px; text-align: left;}
ul.submenu1 li a:hover { background:#f4f4f4; color:#000}  

/* 춘천연탄은행(인사말) */
.greeting_top { background-size: 40% !important;}

/* 사업소개(나눔은행) */
ul.bank_thumb img { width: 100%;}
    
}
